* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

:root {
    --main-bg-color: #191919;
    --main-fg-color: #e3e2e1;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

header {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    color: var(--main-fg-color);
}

.modeButton {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    background-color: var(--main-fg-color);
    position: relative;
    transition: background-color .5s;
}

.mbSlider {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    position: absolute;
    left: 5px;
    transition: left .5s, background-color .5s;
}


main {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.widget {
    min-height: 50px;
    border: 1px solid var(--main-fg-color);
    text-align: center;
    padding: 16px 24px;
}

.entries {
    width: 77%;
}

.entry {
    padding: 0 10px 30px 20px;
}

h5 {
    font-size: 11px;
    letter-spacing: 0.9px;
    padding: 4px 0;
}

h4 {
    font-size: 16px;
    letter-spacing: 0.9px;
    padding: 4px 0 4px 15px;
}

p {
    font-size: 11px;
    letter-spacing: 0.9px;
    line-height: 1.4;
}

.entry p {
    padding: 4px 0 4px 15px;
}

.profilePic {
    margin: 16px auto;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--main-fg-color);
}